# Python ignores
__pycache__/
*.pyc
venv/
.env

# Database ignores
chroma_db/
Data/

# IDE ignores
.idea/
.vscode/

# Frontend ignores
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
